<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All questions</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-3">
    <h1>
        <div th:text="${question.getQuestion()}"></div>
    </h1>
    <br>
    <br>
    <button onclick="showAnswer()">Показать ответ</button>
    <br><br>
    <h4>
        <div id="answer" style="display: none;"><span
                th:utext="${#strings.replace(question.getAnswer(), '\n', '<br>')}"></span></div>
    </h4>
    <br><br>

    <button onclick="reloadPage()">Следующий вопрос</button>
    <br><br>
    <a th:href="@{/index}">Вернуться на главную страницу</a>
</div>

<script>
    function showAnswer() {
        document.getElementById("answer").style.display = "block";
    }

    function reloadPage() {
        location.reload();
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>