<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java Quizzer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/java-logo.jpg" type="image/x-icon"/>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="/java-logo.jpg" alt="Logo" style="width:40px;">
    </a>
    <!-- Brand -->
    <a class="navbar-brand">Java Quizzer</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">Main Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/all/{id}(id=${currentIndex})}">All Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/primary/{id}(id=${currentIndex})}">Primary Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/core1/{id}(id=${currentIndex})}">JavaCore</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/core2/{id}(id=${currentIndex})}">JavaCore / Collections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/core3/{id}(id=${currentIndex})}">JavaCore / Multithreading</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/sql/{id}(id=${currentIndex})}">SQL / Database</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/hibernate/{id}(id=${currentIndex})}">Hibernate / JDBC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">Spring</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/patterns/{id}(id=${currentIndex})}">Algorithms / Patterns</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">Fashion technologies</a>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <form class="form-inline" method="post" action="/search">
        <label>
            <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search question">
        </label>
        <button class="btn btn-success" type="submit">Search</button>
    </form>
</nav>

<div class="container mt-3">
    <h5>
        <div th:text="${questions.get(random).getTheme()}"></div>
    </h5>
    <h1>
        <div th:text="${questions.get(random).getQuestion()}"></div>
    </h1>
    <br>
    <br>
    <button onclick="showAnswer()" class="btn btn-primary">Показать ответ</button>
    <br><br>
    <h5>
        <div id="answer" style="display: none;"><span
                th:utext="${#strings.replace(questions.get(random).getAnswer(), '\n', '<br>')}"></span>
        </div>
    </h5>

    <br><br>

    <a th:if="${random > 0}" th:href="@{/all/{id}(id=${random - 1})}" class="btn btn-primary">Предыдущий вопрос</a>
    <a th:if="${random < questions.size() - 1}" th:href="@{/all/{id}(id=${random + 1})}" class="btn btn-warning">Следующий
        вопрос</a>

    <br><br>

</div>
<script>
    function showAnswer() {
        document.getElementById("answer").style.display = "block";
    }

    function reloadPage() {
        location.reload();
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>