<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Страница</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" >Java Quizzer</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    Navbar links
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">Main Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/all}">All Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/primary}">Primary Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/core}">JavaCore</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/core2}">JavaCore/Collections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/patterns}">Patterns</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-3">
    <h1>
        <p class="font-italic">Welcome to Java Quizzer!</p>
    </h1>
    <br><br>
    <h2>
        <p class="font-weight-bold">List of Topics</p>
    </h2>
    <br>
    <h3>
        <p class="font-weight-normal">All Questions</p>
    </h3>
    <h3>
        <p class="font-weight-normal">Primary Questions</p>
    </h3>
    <h3>
        <p class="font-weight-normal">Java Core</p>
    </h3>
    <h3>
        <p class="font-weight-normal">Java Core2 / Collections</p>
    </h3>
    <h3>
        <p class="font-weight-normal">Patterns</p>
    </h3>

<!--    <a th:href="@{/all}" class="btn btn-primary">All Questions</a>-->
<!--    <a th:href="@{/primary}" class="btn btn-warning">Primary questions</a>-->
<!--    <a th:href="@{/core}" class="btn btn-primary">Java Core</a>-->
<!--    <a th:href="@{/patterns}" class="btn btn-primary">Patterns and Algorithms</a>-->
</div>

<!--<button onclick="window.location.href='/patterns'">Алгоритмы и Паттерны</button>-->
<!--<button onclick="window.location.href='/question'">Все вопросы</button>-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>