<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Страница</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" >Java Quizzer</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    Navbar links
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">Main Page</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-3">
    <h1>Welcome to Java Quizzer!</h1>
    <a th:href="@{/all}" class="btn btn-primary">All Questions</a>
    <a th:href="@{/primary}" class="btn btn-warning">Primary questions</a>
    <a th:href="@{/core}" class="btn btn-primary">Java Core</a>
    <a th:href="@{/patterns}" class="btn btn-primary">Patterns and Algorithms</a>
</div>

<!--<button onclick="window.location.href='/patterns'">Алгоритмы и Паттерны</button>-->
<!--<button onclick="window.location.href='/question'">Все вопросы</button>-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>