<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:text="${question.getQuestion()}"></div>
<br>
<br>
<button onclick="showAnswer()">Показать ответ</button>
<br><br>
<div id="answer" style="display: none;"> <span th:utext="${#strings.replace(answer.getAnswer(), '\n', '<br>')}"></span> </div>
<br><br>

<button onclick="reloadPage()">Следующий вопрос</button>

<script>
    function showAnswer() {
        document.getElementById("answer").style.display = "block";
    }
    function reloadPage() {
        location.reload();
    }
</script>

</body>
</html>